[2015-07-25 04:26] souporserious opened #2 "Merging transforms is not performant"
Need to refactor the way that all transform properties are merged into one https://github.com/souporserious/react-motion-ui-pack/blob/master/src/Transition.jsx#L80-L111

Looked into creating a transform-to-matrix object for more performance, but have no idea how I could merge all matrix's together if I go that route https://github.com/souporserious/react-motion-ui-pack/blob/master/src/transform-to

[2015-07-25 04:59] souporserious opened #3 "Is it more performant to wrap children in span or clone every element with props"
Instead of cloning every element, it might be more performant to just wrap in a span and apply styles to https://github.com/souporserious/react-motion-ui-pack/blob/master/src/Transition.jsx#L142-L144 although this could break the user's layout, for instance if someone was using a table based layout.

Also need to look at not returning an arbitrary div, possibly clone 1 element like react-motion do

[2015-07-28 04:31] souporserious opened #4 "Finish UI Pack transitions"
https://github.com/souporserious/react-motion-ui-pack/blob/master/src/ui-pack.js

Inspiration: https://master-origin-layersnap.fgview.com/demo/

[2015-08-02 00:32] souporserious opened #5 "Can't pass just a component"
Can't do something like this right now, will not receive transition props.

[code]

[2015-08-15 21:32] dzannotti opened #6 "Module not found: Error: Cannot resolve module 'ReactMotion'"
Getting that error when trying to include this in my project, i suspect it's a typo for react-motion, also i noticed you do `require("React");`, i'm not sure if the capital R on react would cause webpack to include react twice on compilation

[2015-08-15 23:54] nkbt commented on #6
`require('react')` should be in lowecase. Webpack can include this twice since is treats `react` and `React` as two different libs.

[2015-09-16 16:33] souporserious commented on #2
fixed here https://github.com/souporserious/react-motion-ui-pack/commit/bca303241a81acda0deff1b8c592066b560b1f13

[2015-09-16 16:33] #2 closed, assigned to nobody

[2015-09-17 18:28] souporserious opened #7 "Add helpful warnings"
Need to add warnings for things like Measure component dependency and anything else that could be helpful for debugging.

[2015-09-18 01:18] souporserious opened #8 "allow more than just px units to be passed in for transforms"
Do what [velocity does](https://github.com/julianshapiro/velocity/blob/1.2.3/velocity.js#L2945-L2949) and convert all units into actual pixel values. This way the user can pass in any form they want.

[2015-09-18 01:19] souporserious opened #9 "add tests"
Need to add some sort of testing framework.

[2015-09-18 04:00] souporserious commented on #5
This was actually never an issue, props get passed into custom components and it's up to the user to determine where they should be applied.

[2015-09-18 04:00] #5 closed, assigned to nobody

[2015-09-18 04:01] souporserious commented on #3
A user can now choose which tag gets used as a wrapper element or they can specify if it's an only child and no wrapper element will be used.

[2015-09-18 04:01] #3 closed, assigned to nobody

[2015-09-18 04:04] #6 closed, assigned to nobody

[2015-09-20 22:18] souporserious opened #10 "Fill in missing values"
Allow `appear`, `enter`, and `leave` props to have different structures and fill in missing values.

[2015-09-22 02:41] souporserious opened #11 "If onlyChild passed generate a key"
Instead of having to assign a key for an only child, create one so we can keep our markup clean :) this may be bad to do so someone way better at React please tell me no if it's wrong.

[2015-09-25 04:22] souporserious opened #12 "Merge config if passed when using auto feature"
Right now we overwrite any config passed in when using auto on width or height.

[2015-09-25 04:45] souporserious opened #13 "Possible new prop animateOnMount, better use of appear prop"
Controlling animation on mount is possible right now by passing true/false to the `appear` prop, but this doesn't allow for a situation where someone doesn't want an animation on mount but does want to have a different animation on appearance of the child as well as a different one on leave. The `appear` prop should be left to only override the `leave` prop for the starting position of an animatio

[2015-10-01 21:43] souporserious commented on #12
Fixed here https://github.com/souporserious/react-motion-ui-pack/commit/a42dc705945d3dd00d0842e526b272ae21823202#diff-fc5e09db46647eb4cbfd02c2dfde98d2R185

[2015-10-01 21:43] #12 closed, assigned to nobody

[2015-10-04 07:32] souporserious opened #14 "Test that document exists before prefixing"
Server side rendering will error because the auto prefixing util is trying to use a document that isn't there.

[2015-10-14 10:42] frederickfogerty opened #16 "Auto height doesn't work as expected"
Hey, I've created this branch to (badly) demonstrate what I mean: https://github.com/frederickfogerty/react-motion-ui-pack/tree/height-auto-example

First off, in the example, I can't get it to calculate the right auto height as much as I try, I assure you it works in my own project. Not sure if this is desired behaviour.

Secondly, and more majorly, when `height: 'auto'` is passed to Transition,

[2015-10-14 22:09] souporserious commented on #16
Crap. Thanks for the feedback auto height is hard. I'll look into it and see what I can do. Open to any help/suggestions.

[2015-10-15 07:42] frederickfogerty opened #17 "React 0.14 Support"
Moving react out of deps seems to solve a few issues - I can't seem to nail down the others

[2015-10-15 15:25] nkbt commented on #16
This should fix the issue.

https://www.npmjs.com/package/react-collapse

[2015-10-15 20:40] frederickfogerty commented on #16
@nkbt that looks good - maybe we could integrate some of that logic here

[2015-10-15 21:19] nkbt commented on #16
It is a small component, just add as dep

[2015-10-16 06:32] souporserious commented on #16
Yeah planning on ripping out what I did and use @nkbt's component for auto height instead :) should be able to get to it this weekend.

[2015-10-17 17:23] jprichardson commented on #17
Yes, please remove React as a dependency. Maybe use `peerDependencies` for both? Desired behavior (won't install) for `peerDependencies` will be achieved with npm v3.

[2015-10-17 17:25] frederickfogerty commented on #17
Both what? Do you mean `react-motion` as well?

[2015-10-18 08:13] nkbt commented on #16
@souporserious ping me if you need any help. And feel free to PR or open issues if you find any

[2015-10-22 03:34] souporserious commented on #11
React Motion might take care of this now, doesn't seem to complain anymore.

[2015-10-22 03:34] #11 closed, assigned to nobody

[2015-10-22 03:57] souporserious commented on #13
Added here https://github.com/souporserious/react-motion-ui-pack/commit/b1e3cff970e2979116a71dc9215a6ee6d5188c7f

[2015-10-22 03:57] #13 closed, assigned to nobody

[2015-10-22 03:57] souporserious commented on #14
Fixed here https://github.com/souporserious/react-motion-ui-pack/commit/b1e3cff970e2979116a71dc9215a6ee6d5188c7f

[2015-10-22 03:57] #14 closed, assigned to nobody

[2015-10-22 03:59] souporserious commented on #17
React 0.14.0 now supported in this commit https://github.com/souporserious/react-motion-ui-pack/commit/b1e3cff970e2979116a71dc9215a6ee6d5188c7f

[2015-10-22 03:59] #17 closed, assigned to nobody

[2015-10-22 04:46] frederickfogerty commented on #17
:clap:

[2015-10-25 06:29] chen-ye opened #20 "Allow custom spring parameters for "auto" sizing."
Currently, the component only correctly animates to "auto" heights/widths if "auto" is passed into the height/width parameter.  This precludes using a custom spring to animate to these values without manually wrapping the subcomponents in a measure component.

I made a quick and dirty fix in my fork (4daf23f6478a67fe903cbd7117e1110b2cd07b76 and 8a472e9b77cc03fa46b644026168e4a1323fdca0) which adds

[2015-10-27 00:15] souporserious commented on #20
I will add this in the next release. Revamped the Measure component to get more accurate and reliable measurements for auto values. Once I get this in I will add in a spring config for auto values as well.

Also, in the future please use the src directory to make changes to files :) need to add a contributing section to the README

[2015-10-27 00:19] souporserious opened #21 "Add contributing section to README"
Let people know how they can help :)

[2015-10-27 00:43] chen-ye commented on #20
oh, i can write a proper pull request tonight

this was just a quick fork for my own project, and is contaminated with some other changes too.

[2015-11-07 21:03] gmaclennan opened #22 "Are all values wrapped in `spring()` as default?"
I'm not quite clear from the `README.md`, but am I correct in thinking that all style values passed to `enter` and `leave` are wrapped in `spring()` by default? I am assuming that there is no way to jump immediately to any style values on enter or leave, since all style properties are animated?

[2015-11-07 22:35] frederickfogerty commented on #22
Yes, that's correct. I imagine this was to be consistent with the old api. With the old api you could also just have a spring config of `[]`, I'm not sure if this still works. This is definitely something we need to look at, thanks.

[2015-11-08 00:08] souporserious commented on #20
Fixed in this release https://github.com/souporserious/react-motion-ui-pack/commit/4faa3f0a47771e3e936d3d20f79c9b006addc7e4 please let me know if you notice anything else.

[2015-11-08 00:08] #20 closed, assigned to nobody

[2015-11-08 00:09] souporserious commented on #16
Fixed in this release https://github.com/souporserious/react-motion-ui-pack/commit/4faa3f0a47771e3e936d3d20f79c9b006addc7e4 please let me know if you notice anything else.

[2015-11-08 00:09] #16 closed, assigned to nobody

[2015-11-08 00:18] souporserious commented on #22
Yes, they are automatically wrapped with a spring. I wanted to keep the API really simple and easy to use. But maybe I'll remove that to keep it more inline with React Motion. @gmaclennan what is your use case for immediately jumping values? Yeah passing an empty config still won't immediately jump to the value right now, I need to look into that.

[2015-11-08 04:26] gmaclennan commented on #22
Not sure there is a use-case actually, it was just initially confusing coming from React-motion until I looked through the code. Would be good to clarify these defaults in the README

[2015-11-08 04:42] souporserious commented on #22
Definitely, I can see how that's confusing. I'll leave this open until I get a fix on the empty config, as well as README updated. Thanks for the feedback :)

[2015-11-08 04:54] souporserious commented on #22
README updated https://github.com/souporserious/react-motion-ui-pack/commit/2bfbe0f61990ef63f000829badae2c1a8a7499b1

[2015-11-12 08:23] filod opened #23 "Support nested `Transition`"
I embed a `onlyChild` (component={false} in new version) `Transition` component in a normal list `Transition` like

[code]

~~when i change `editMode` to true, trash element's parent also change his height.~~
no matter the height is 'auto' or specific value, trash element's parent will change its height only if i set `editMode` to ture.
or it will not change his height (opacity is acting normal)

[2015-11-12 08:33] souporserious commented on #23
Can you please be more descriptive? Is an error getting thrown when trying to nest Transitions?

Are you having a problem with nested `auto` heights specifically? If so, this is unfortunately unsupported right now. I'll do my best to get it fixed as soon as I can. Other styles should work fine when nested.

[2015-11-12 08:51] filod commented on #23
@souporserious updated the description  :D

[2015-11-12 08:55] filod opened #24 "Should assume `overflow: hidden` in transition ?"
see https://github.com/souporserious/react-motion-ui-pack/blob/master/src/Transition.jsx#L177

In my own case, i dont want element be 'overflow: hidden' in transition, because the child element's border will be clipped, like :
![image](https://cloud.githubusercontent.com/assets/679897/11114235/1ea1f0ee-895e-11e5-8eff-28da86ab504b.png)

[2015-11-12 08:55] souporserious commented on #23
Thank you. Can you try removing the `auto` height and tell if it works after that? I think that is the cause of the problem.

[2015-11-12 08:59] souporserious commented on #24
True. I will remove this in the next release. I did it because I want to say most use cases will need `overflow: hidden` with auto height, but I can integrate that into a `slideDown` preset :)

[2015-11-12 09:02] filod commented on #23
updated

[2015-11-12 09:03] filod commented on #24
that's a great choice

[2015-11-12 09:09] souporserious commented on #23
Yeah so it seems to be an issue with the way auto height values are calculated, I'll look into this when I get a chance. Thanks for the descriptions :)

[2015-11-12 09:14] filod commented on #23
yep, also have calc problem when in this structure:

[code]

Trasition seems only calculated the height of `box 2`

[2015-11-16 11:50] bobiblazeski opened #26 "Breaks on server side rendering"
/node_modules/react-motion-ui-pack/lib/get-vendor-prefix.js:9
  if (!document) return prop;
       ^

ReferenceError: document is not defined

[2015-11-16 12:39] 0m15 commented on #26
same as #25

[2015-11-16 18:11] souporserious commented on #26
This has been fixed https://github.com/souporserious/react-motion-ui-pack/commit/22a2776a2fe5b62932ea40c7c15a67fd964773fa I will push out an update ASAP. I'll close this issue once it's out.

[2015-11-16 21:02] bobiblazeski commented on #26
Many thanks for the quick reply

[2015-11-17 03:31] souporserious commented on #24
Fixed :) https://github.com/souporserious/react-motion-ui-pack/commit/9740999525f94800dd85c37e437747f7baa08777

[2015-11-17 03:31] #24 closed, assigned to nobody

[2015-11-17 03:31] souporserious commented on #26
Fixed :) https://github.com/souporserious/react-motion-ui-pack/commit/991400d35dc5329ff0c74fbe3b866dc8251fecbc

[2015-11-17 03:31] #26 closed, assigned to nobody

[2015-11-19 22:47] vramana opened #27 "Note about Height Transition"
I think for the Height Transition to work the way it should, I have observed that the wrapping contianer needs to have `overflow: hidden`. Is this true? If so, I think you should add a note in the README.

A big thanks for this repo. Excellent Job.

[2015-11-21 09:50] JoeMattie commented on #27
Excellent tip.  This just saved me a huge headache!

[2015-11-21 20:03] frederickfogerty commented on #27
Yeah, this was removed in 9740999525, I'm not sure why - I can guess that it was because in some cases you might want to show the overflow.

[2015-11-21 20:11] frederickfogerty commented on #27
Added to readme in de995e6b469

[2015-11-21 20:11] #27 closed, assigned to nobody

[2015-11-21 20:14] frederickfogerty commented on #22
@souporserious I vote to close this and just make consumers use `spring` to animate their values

[2015-12-01 08:14] neverfox opened #28 "Height transition results in empty string"
Works (raw react-motion):

[code]

Doesn't:

[code]

Nothing happens and the resulting height is `""`. I haven't had problems with other cases that don't involve height, e.g. `paddingLeft` and `top`.

[2015-12-01 23:44] frederickfogerty commented on #28
I can't immediately think of anything that could be causing, I'll have a look at this when I can.

[2015-12-02 12:51] phaistonian commented on #6
Same problem here.

`Module not found: Error: Cannot resolve module 'ReactMotion' in ./node_modules/react-motion-ui-pack/dist`

[2015-12-03 15:15] svk31 opened #29 "Slide in/out animation"
This isn't really an issue with your library, but I'm hoping you can help me out.

I'm trying to do a simple "slide new content in from the right, slide old content out to the right" animation using your library, but what happens is the new content gets placed below the old content until the old content is removed from the dom, at which point the new content pops into the right position. Here's a

[2015-12-03 19:37] tnrich commented on #29
+1

[2015-12-03 19:42] souporserious commented on #29
Hmm you could possibly use `onEnter` to set the incoming to `position: absolute` so it's out of the flow, then hook into `onEnd` and determine when the final value has been reached and kill the absolute positioning.

Or...

Check out a react motion slider I've been working on https://github.com/souporserious/react-motion-slider for almost that exact same thing :)

[2015-12-03 19:44] tnrich commented on #29
Cool stuff, how far along is your react-motion-slider?

[2015-12-03 19:44] souporserious commented on #28
I'm currently tied up, but I will look into this as soon as I can and see what is wrong. Probably has to do with 'auto' height logic killing the value. Thank you for posting the issue @neverfox.

[2015-12-03 19:50] souporserious commented on #29
It's pretty close. The API is pretty solid now. You can pull the repo and run the same stuff as this one to get the local version working. I really just need to add touch/dragging support back in. The README is currently outdated but you can look in `/example` to see how it works.

[2015-12-03 19:51] tnrich commented on #29
Sweet! Does it do left to right sliding for variable height divs also? That's the specific case I'm trying to hit

[2015-12-03 19:58] svk31 commented on #29
Thanks, I did consider doing something to that effect but wasn't quite sure how to go about it. I'll have another go tomorow and probably check out your slider library too.

[2015-12-03 21:18] souporserious commented on #29
@tnrich yes it has an `autoHeight` prop, it just doesn't work well with vertical sliding right now.

[2015-12-04 22:46] echenley opened #30 "runOnMount={ false } doesn't work with 'auto' values"

[2015-12-06 11:13] rlopez4 opened #31 "Cannot find module 'reactify'"
When using browserify in a gulp task this error is being thrown.
`Error: Cannot find module 'reactify' from '/project/node_modules/react-motion-ui-pack'`

It looks like the package.json has the broswerify transform "reactify" but it's not included as a dependency.

[2016-01-05 13:01] hew opened #32 "Stagger Support"
The level of abstraction here is great. Nice work.

But I'm wondering if it's possible to use this library to create a staggered effect?

[2016-01-07 17:24] souporserious commented on #32
It is not, but is definitely something I'm willing to work on. Thanks for the feedback :)

[2016-01-07 18:20] hew commented on #32
Np.

Working on it too. I'll let you know how it goes.

[2016-02-16 08:19] #30 closed, assigned to nobody

[2016-02-19 08:27] #31 closed, assigned to nobody

[2016-02-22 16:58] Ahrengot opened #35 "missing prop "styles""
When I copy/paste the example from the readme file:

[code]

I get the following error:

[2016-02-22 17:02] Ahrengot commented on #35
Never mind, something funky was going on elsewhere. Sorry about that.

[2016-02-22 17:02] #35 closed, assigned to nobody

[2016-02-25 02:13] asvetliakov opened #36 "Passing custom class as component"
Has passing only html tags as strings and {false} to  component prop of Transition been intended?

I'm trying to do something like:

[code]

This works but gives me warning about incorrect prop types

[2016-02-25 02:16] souporserious commented on #36
Hmm interesting, no it wasn't intended. I did not realize you could pass a custom component like that. Totally makes sense though. If you'd like to do a PR, I can review it and bring it in if all looks good. Should be just a PropType update correct?

[2016-02-25 02:19] asvetliakov commented on #36
Yes should be just PropType update, however not sure if just React.PropTypes.element element will work or need a custom validator with checking for React.isValidElement().
I'll give a try

[2016-02-25 04:29] frederickfogerty opened #38 "Travis"
Currently the build always fails, this project needs a travis config.

[2016-02-26 18:01] vinceprofeta opened #39 "Transition.render(): A valid ReactComponent must be returned."
@souporserious
I am getting this error in safari, and cant figure out whats going on?

Invariant Violation: Objects are not valid as a React child (found: object with keys {$$typeof, type, key, ref, props, _owner, _store}). If you meant to render a collection of children, use an array instead or wrap the object using createFragment(object) from the React add-ons.

`<Transition key="key-2"

[2016-02-26 19:45] souporserious commented on #39
This sounds like it could be an error on your end. Can you post a gist or snippet of the code you are using please?

[2016-02-26 19:46] souporserious commented on #38
Do you know how Travis works and if so, can you help set that up? I set it up and never figured out the rest, been super busy lately.

[2016-02-26 19:53] frederickfogerty commented on #38
Yeah I can have a bash at setting it up for you

[2016-02-26 19:58] frederickfogerty commented on #39
Stab in the dark, but sounds like you’re passing an instantiated React Element (i.e. `component={<div />}`) rather than passing a component type (i.e. `component={div}`). We should probably support this though.

[2016-02-26 19:59] souporserious commented on #39
@frederickfogerty could this be related to https://github.com/souporserious/react-motion-ui-pack/issues/36? I agree it should be supported.

[2016-02-26 20:53] frederickfogerty commented on #39
Similar, but @vinceprofeta is getting an error, #36 is just a warning

[2016-02-26 21:10] frederickfogerty commented on #38
@souporserious that's because there's nothing to test hahah. I'm going to add a linter for now

[2016-02-26 23:06] vinceprofeta commented on #39
The code above was throwing an error in safari. It seems to be working in all other browsers. It may be a webpack compilation error? I'm not wrapping a component so the instantiation issue shouldn't be the case. Is the above code working for you all in safari? I have been out today and will take a deeper dive once I get back

[2016-02-28 18:44] #38 closed, assigned to nobody

[2016-02-29 13:30] Nimaear opened #41 "Transition component doesn't unmount nicely"
When the `Transition` element gets unmounted while an enter animation is taking place, following warning is spammed:

[code]

This can be easily reproduced by replacing the `ToDos` component in the example directory with next piece of code an press the 'Toggle' button randomly.

[code]

[2016-03-01 08:50] yogiben opened #42 "Breaking error on startup"
After following install steps and running `npm run dev`, browser shows:

`Uncaught TypeError: Cannot convert undefined or null to object`

[2016-03-02 00:20] #36 closed, assigned to nobody

[2016-03-02 00:22] souporserious commented on #42
Weird. Things are working locally on my end. Can you try clearing your `node_modules` and trying `npm install` again? Please provide anymore information you can about the error, especially where it's coming from.

[2016-03-02 00:25] souporserious commented on #41
Hmm I'm busy right now with my day job, but I'll look into this as soon as I can and get back to you. Thanks for posting the issue.

[2016-03-02 10:07] mairh commented on #42
Getting the same error with the latest release.
<img width="1418" alt="screen shot 2016-03-02 at 12 07 23" src="https://cloud.githubusercontent.com/assets/4072250/13457163/5a5b3268-e06f-11e5-88d0-5e1c46fd578c.png">

[2016-03-02 18:45] Nimaear commented on #41
I looked a little more further into this. The thing is I can prevent this from happening by actually adjusting the componentWillUnmount and the RAF handler in react-motion. So I am actually not even sure this is a react-motion-ui-pack or a react-motion bug.

[2016-03-02 18:49] souporserious commented on #41
I'm guessing it's an issue with this lib since state is kept in the component. Probably just need to do some sort of check to make sure the component hasn't been unmounted before updating state.

[2016-03-02 21:27] souporserious commented on #42
@frederickfogerty looks like the Travis integration broke everything. My bad for not testing that. I had assumed it was passing on your end.

[2016-03-02 22:07] souporserious commented on #42
Everything is now back to normal I had to revert the last two PR's and force push. Please let me know if anything else comes up.

[2016-03-02 22:07] #42 closed, assigned to nobody

[2016-03-09 22:12] #21 closed, assigned to nobody

[2016-03-09 22:16] souporserious commented on #29
Closing this since it isn't an issue with this library please feel free to file anything over at the [react-motion-slider repo](https://github.com/souporserious/react-motion-slider).

[2016-03-09 22:16] #29 closed, assigned to nobody

[2016-03-21 19:02] souporserious commented on #41
@Nimaear were you able to look into this any further? I cleaned up a bunch and stopped setting state in the component to try and fix this issue but I can't figure out what exactly is causing it. I do know that if I don't use React Measure it does not throw that error. I'm wondering if it's something that should still be fixed in React Motion because of some weird edge case that causes it by using

[2016-03-21 21:34] Nimaear commented on #41
Yes, I was actually able to look into it further and I believe the problem to be in react-motion. I just can't seem to be reproducing it in react-motion without react-motion-ui-pack though. I'll double check it once more this weekend and contact the author of react-motion.

[2016-03-22 01:19] souporserious commented on #41
@Nimaear thanks for looking into this. Feel free to join us in the react-motion channel on Discord http://www.reactiflux.com/

[2016-03-31 04:33] carbureted commented on #41
+1

[2016-04-01 04:20] rufman opened #44 "onEnter isn't triggered"
I haven't dug into this and maybe I'm just missing something, but if I add `onEnter` to the example in the readme, the function isn't triggered.

[2016-04-11 00:10] kristian-puccio opened #46 "React 15 unitless number warning"
Seems like React 15 is thowing an warning if you don't add a unit to the height style.

[code]

I guess we should just add px by default to the style but maybe it needs to be customisable to other units?

[2016-04-12 09:39] souporserious commented on #46
Should just need `parseInt` or `+` operator since React still allows unitless numbers just not as strings I believe. I'll cut a new release with this fixed soon. Thanks for letting me know.

[2016-04-12 11:14] kristian-puccio commented on #46
Great thanks!

On 12 April 2016 at 19:39, Travis Arnold notifications@github.com wrote:

[2016-04-13 04:07] souporserious commented on #28
Fixed https://github.com/souporserious/react-motion-ui-pack/blob/master/CHANGELOG.md#070

[2016-04-13 04:07] #28 closed, assigned to nobody

[2016-04-13 04:08] souporserious commented on #44
Fixed `onEnter` not firing on component mount. Please let me know if you are still experiencing issues.

[2016-04-13 04:08] #44 closed, assigned to nobody

[2016-04-13 04:09] souporserious commented on #46
Fixed in the latest release :) https://github.com/souporserious/react-motion-ui-pack/commit/5dd44815677b12da975b2e564bc591c19e5e484b

[2016-04-13 04:09] #46 closed, assigned to nobody

[2016-04-13 04:24] souporserious commented on #7
https://github.com/souporserious/react-motion-ui-pack/commit/202eecbf75feb022b8bc0665b2e8a5f14630ac9c

[2016-04-13 04:24] #7 closed, assigned to nobody

[2016-04-13 04:28] souporserious commented on #22
I am closing this in favor of keeping the API simple. Please use React Motion directly for advance use.

[2016-04-13 04:28] #22 closed, assigned to nobody

[2016-04-13 04:29] souporserious commented on #39
@vinceprofeta I just cut a new release, can you please let me know if you are still getting this issue?

[2016-04-13 04:32] souporserious commented on #32
@hew did you ever get anywhere with this? Was going to try and tackle it, but wanted to see if you've done anything yet.

[2016-04-13 04:34] souporserious commented on #10
Closing in favor of keeping explicit props.

[2016-04-13 04:34] #10 closed, assigned to nobody

[2016-04-13 04:58] hew commented on #32
I did not achieve it with this library, unfortunately. I did have one kind of half-brained idea, though. On the phone right now. I'll post some pseudo code in a little bit.

[2016-04-13 22:29] hew commented on #32
I thought I had something.
But I got nothing. 😆

[2016-05-19 02:29] #41 closed, assigned to nobody

[2016-05-19 02:30] souporserious commented on #39
Closing this for now, cannot reproduce it on my end. Please let me know if this is still occurring.

[2016-05-19 02:30] #39 closed, assigned to nobody

[2016-05-20 15:10] Kiran-Rao commented on #9
Which test framework were you thinking?
React-motion uses react-addons-test-utils, so it may be good to stay consistent with that testing style.

[2016-05-20 16:18] souporserious commented on #9
@Kiran-Rao I'm not too familiar with testing frameworks so I'm totally ok with using the same one as React Motion.

[2016-05-22 20:53] frederickfogerty commented on #9
👉 👉 👉 https://github.com/airbnb/enzyme 👈  👈  👈

[2016-06-07 10:38] dawidvdh commented on #35
@Ahrengot what was your issue? as i am having the same thing on my side...

Any Help would be Greatly Appreciated.

[2016-06-14 03:18] souporserious opened #49 "Create a tween component"
Create a "tween" or "animate" component that allows animation of elements that don't need to be transitioned in/out. Would utilize the easy to use API of animating transforms, height, etc.

Inspiration: https://github.com/nkbt/react-motion-loop/blob/master/src/Component.js

[2016-06-15 10:10] miracle2k opened #50 "isValidElement not defined"
In this file:

https://github.com/souporserious/react-motion-ui-pack/blob/master/src/is-element.js

Occurs when passing an element to component:

[code]

[2016-06-15 18:03] souporserious commented on #50
Fixed here https://github.com/souporserious/react-motion-ui-pack/commit/a656c8dd77a73a13a8aa8f0482208eded1a26473

To use a custom component you would need to pass something like this:

[code]

[code]

Thanks for filing an issue! Sorry about that.

[2016-06-15 18:03] #50 closed, assigned to nobody

[2016-06-23 21:16] juliantellez opened #51 "npm install fails"
Please update your packages

[code]

[2016-06-27 20:50] souporserious commented on #51
This doesn't seem to have to do with this library. I removed `node_modules` and did a clean install and everything seems to work fine. Please provide a better description so I can diagnose the issue.

[2016-06-27 20:50] #51 closed, assigned to nobody

[2016-06-28 04:37] frederickfogerty commented on #51
@souporserious I have submitted a PR to fix this issue. @juliantellez in the future, could you please be a bit more descriptive and potentially submit a PR yourself for such a small issue?

[2016-07-02 20:03] empz opened #54 "Example not working"
I'm trying to play with this library and so I made a CodePen using the example presented in the readme.

I'm getting a `TypeError: (0 , _elementResizeDetector2.default) is not a function`

Is it a bug or maybe adding the script in the browser is not supported?

Here's the codepen: http://codepen.io/emzero/pen/PzmVmA?editors=0011

[2016-07-07 12:21] PEM-- opened #55 "Props not filtered warning since React 15.2.0"
When I set up this:

[code]

I got a warning produced by React since 15.2.0:

[code]

Is there a way to filter props ?

[2016-07-07 15:41] transcranial commented on #55
Also, when no wrapper component is specified:

[code]

a similar warning is produced:

[code]

[2016-07-10 20:10] morajabi commented on #55
fix this annoying issue.

[2016-07-10 20:13] souporserious commented on #55
@morajabi sorry, I understand it may be annoying, but I'm currently tied up at the moment. PR's are welcome if you would like to fix it.

[2016-07-21 04:58] souporserious commented on #54
Sorry about the wait. You were not including `element-resize-detector` in your pen. Please see here to see it working: http://codepen.io/souporserious/pen/YWaQkk?editors=0011 I updated the README to reflect that dependency, sorry about that.

[2016-07-21 04:58] #54 closed, assigned to nobody

[2016-07-21 07:50] souporserious commented on #55
Fixed https://github.com/souporserious/react-motion-ui-pack/commit/3e95f86fb3ddb6e93fe57e58df9eb3d40bf7684e

[2016-07-21 07:50] #55 closed, assigned to nobody

[2016-07-28 05:06] rico345100 opened #56 "Is there a way to stop playing animation?"
I made a Modal with this module, but when I try to close modal, I should wait until animation done. Is there a way to stop current playing animation?

[2016-07-30 00:14] souporserious commented on #56
Currently there is not. Curious what your use case is? Do you have some example code?

[2016-08-16 21:38] souporserious commented on #56
Closing this since stopping animations is not a real goal of this library as of yet.

[2016-08-16 21:38] #56 closed, assigned to nobody

[2016-09-11 02:24] qiuxiaolian opened #58 "how can i set transform origin for this component"

[2016-09-16 03:15] souporserious commented on #58
You can set any properties like `className` or `style` on your elements :)

[2016-09-21 01:32] souporserious opened #59 "use transform attributes for SVG elements in IE"
Regular transforms do not work in IE. Let's check if the element is an SVG and add it directly. Could look into coordinating everything into a matrix.

Need to take transform-origin into account: http://stackoverflow.com/questions/6711610/how-to-set-transform-origin-in-svg

Maybe we can learn from Anime.js here: https://github.com/juliangarnier/anime/blob/master/anime.js#L352-L357

[2016-09-21 01:46] #58 closed, assigned to nobody

[2016-09-26 17:25] souporserious opened #60 "Remove auto height"
I've tried to make auto height transitions as easy as I could with little luck so far. It's buggy and it adds a big dependency to this library. It will be removed in the next major release to get the library down to a smaller size. All with the intention of adding it back in at a later time with an option to include it or not.

[2016-09-26 19:39] frederickfogerty commented on #60
👍 , animating auto height is so freaking hard.

[2016-09-27 06:31] souporserious commented on #60
@frederickfogerty it's stupid how hard it is haha. I think I'm close to a solution with [React Fluid Container](https://github.com/souporserious/react-fluid-container), but until it's solid, I'm keeping it out of here 👉

[2016-09-27 07:38] frederickfogerty commented on #60
React Fluid Container looks pretty decent @souporserious, nice work. Haven't used this lib or react-motion for a long time, but it'll be interesting to see how much things have changed when I get back into it.

[2016-10-13 13:31] souporserious commented on #60
It is finished https://github.com/souporserious/react-motion-ui-pack/commit/c395345864cbdc5aa73a7bbd7db5347dde0a1acb for now 😛

[2016-10-13 13:31] #60 closed, assigned to nobody

[2016-10-13 14:15] souporserious commented on #23
Since auto height is so tedious it has been removed for now to focus on other parts of the library. Please feel free to look at the branch with auto height here https://github.com/souporserious/react-motion-ui-pack/tree/auto-height to help if you can or you can use my other library for non-transition height animation https://github.com/souporserious/react-fluid-container

[2016-10-13 14:15] #23 closed, assigned to nobody

[2016-11-09 21:25] jasokant opened #61 "Question about ReadMe"
In your ReadMe, you have an example of the 'measure' prop, but no explanation of it. Could you please explain what the measure prop does and how it is used? Thanks in advance.

[2016-11-21 00:56] scericson opened #62 "Please help: Leave not working properly"

[2016-11-21 01:03] #62 closed, assigned to nobody

[2016-12-01 21:12] souporserious commented on #61
Sorry about that! That was from an old build that allowed auto height animation. It has been removed.

[2016-12-01 21:12] #61 closed, assigned to nobody

[2016-12-07 17:50] souporserious opened #63 "look into auto height animation now that we have proper callbacks in RM"
This PR into React Motion should allow us to handle auto height animation now 🎉  https://github.com/chenglou/react-motion/pull/399

[2016-12-20 23:09] liveresume opened #65 "Help with Single Component Mount Animation"
Try to have this fade out when it is unmounted.  Any ideas?

[code]

[2016-12-20 23:10] liveresume commented on #65
Sorry this was for react-motion issues.

[2016-12-20 23:10] #65 closed, assigned to nobody

[2016-12-20 23:21] liveresume opened #66 "Why does my component immediately disappear?"
[code]
I see the animation when it is mounted, but not when it is unmounted.

[2016-12-20 23:38] souporserious commented on #66
Sorry, I need to write better docs 😞  you should be able to do this:

[code]

You can see similar functionality being used in the examples [here](https://github.com/souporserious/react-motion-ui-pack/blob/master/example/index.jsx#L27-L48).

[2016-12-21 19:14] liveresume commented on #66
With this approach we must pass down an extra param and add boilerplate.  Shouldn't it be possible for Transition to do this?

[2016-12-21 19:24] souporserious commented on #66
You would need to do that anyways though right? `Transition` needs to somehow know when to show and hide your component. How are you imaging it working?

[2016-12-21 20:40] liveresume commented on #66
I am thinking `Transition` could do something with its own `componentWillUnmount()`?

[2016-12-21 20:49] souporserious commented on #66
Totally, but you still need to mount/unmount `Transition` yourself. Which you would then end up with something like:

[code]

Any way it happens, you will need to control mounting/unmounting yourself.

[2016-12-21 22:21] liveresume commented on #66
Nice, that is exactly how I'm controlling `Transition`.  But how do I solve the OQ?  Transition needs a small upgrade right?

[2016-12-21 22:35] souporserious commented on #66
Awesome. Just move your `isOpen` (or whatever mounts/unmounts your component), inside the `Transition` component. Nothing will be mounted if you have `component={false}` and nothing inside `Transition`.

[2016-12-27 19:28] #66 closed, assigned to nobody

[2016-12-30 16:00] souporserious commented on #32
Found [this gem](https://github.com/mlewando/staggered-unmount-mount-react-motion). Should give some inspiration on how to do it. Still want to figure this out when I get some free time :)

[2017-01-22 13:00] adammockor opened #68 "Return null transition children"
If I change in your example this:
[code]

to this:
[code]

I will get errors:
[code]

Difference is that, first example returns `false` and second returns `null` which should be valid react children.

[2017-02-07 16:09] mhaagens opened #69 "Getting refs to wrapper component"
Is it possible to get a ref to the wrapper component itself (i.e. a `<ul>`)?

[2017-02-28 15:18] DarrylD opened #71 "Duration to animation?"
Based on the readme example:
[code]

Is there anyway to have that animation go over 4 seconds?

[2017-02-28 19:20] souporserious commented on #71
React Motion is physics based so you never define a duration, you set a spring config and let physics take care of the rest. You can find more info [here](https://github.com/chenglou/react-motion#what-does-this-library-try-to-solve) and play around with animations using the [spring parameters chooser](http://chenglou.github.io/react-motion/demos/demo5-spring-parameters-chooser/). Hope that helps :

[2017-02-28 19:20] #71 closed, assigned to nobody

[2017-02-28 22:55] DarrylD commented on #71
Definitely a different concept to wrap my head. Guess that may be easier than use react-motion directly :)

[2017-03-15 18:36] ajmajma opened #72 "Having trouble applying motion-ui-pack to swapping components"
Hello, I am trying to apply your module to add a little animation to my react app here. I have a little function that swaps the child component shown based on a local state variable and I can't seem to get it to work. So I just have -
[code]

inside of my render. The renderQuiz is just a function that has a switch statement that swaps the component shown based on a local component state in this wr

[2017-03-21 14:26] davidguilherme opened #73 "Use react-motion as peerDependency"
Hi,

In my project I use the react-motion as direct dependency. So, I think would be fine if react-motion were a Peer Dependency in this project. What do you think about this?

Links
-------
1. [Peer Dependencies](https://nodejs.org/en/blog/npm/peer-dependencies/)

[2017-03-30 09:14] NourSammour commented on #72
@ajmajma did you solve this issue?

[2017-04-04 05:08] rico345100 commented on #68
I got same error.

[2017-05-02 09:55] ghost opened #74 "Animations not triggering"
Where should I look for clues on what could be the possible reason animations aren't triggering?

[2017-05-02 20:44] souporserious commented on #74
Hmm weird, sorry about that. Can you provide any code snippets so I can help diagnose?

[2017-05-03 01:38] ghost commented on #74
I was doing something like this:
[code]

where `<Overlay />` is a component made with `styled-components`.

I remember `react-motion-ui-pack` working for a different project of mine, so it was weird why it wasn't working here.
Thanks for your hard work!

[2017-05-06 22:34] schnubor commented on #72
I'm interested in that exact same issue as well.

[2017-05-17 13:45] nocategory commented on #72
Hey, I had the same issue and ended up fixing it by wrapping a div around the component(s). Seems like it will only work with inline JSX using {condition && }. Give it a try and let me know if it helped you. 😄

Edit: Just tried it with a span aswell, and it worked fine so I guess any HTML element wrapping the component would work

[2017-05-22 03:16] souporserious opened #75 "Implement easy-css-transform-builder"
because holy heck it's awesome https://github.com/tsuyoshiwada/easy-css-transform-builder

[2017-05-22 08:41] rico345100 opened #76 "Wrong value in onLeave callback"
This is my transition:

[code]

It gives me fading animation and works fine, but every value in onLeave callback is just like this(I'm printing val property as you saw):

[code]

I need to get exactly value when it's animating because I want to hide the elements completely when it reaches opacity 0.0.

[2017-06-10 07:09] yarnball opened #78 "Applying motion to className (for display:none)"
Hi,

This looks like a great project.

I'm using an active class to display results. When I add an item to this list, the transition occurs. However, when the className `noResult` (which is `display:none`) is applied- it shows nothing.

How can I get the transition to apply on my class name `noResult`?

I put this in a codesandbox (https://codesandbox.io/s/o2LyXwxyL). Use the filters, and the disp

[2017-06-12 10:38] eniko1556 commented on #72
I have the exact same problem. Wrapping in a div solves it, though not when using `component="div"`.

[2017-06-21 10:48] kumarharsh commented on #73
+1, I think this can be an easy fix. @souporserious what are your thoughts?

[2017-07-24 22:56] mightym commented on #72
I'm having the same issues. Using something like this:
[code]
instead of:
[code]
works for the component.

Also I'm a bit confused why I need to pass in a key to get it working. Its just a single component. not a array of several components/elements.

[2017-07-25 08:47] mightym commented on #74
Try wrapping your component into a div or some other el. I'm having the same issue. https://github.com/souporserious/react-motion-ui-pack/issues/74

[2017-07-27 18:57] azangru opened #80 "Passing false as props.children to Transition is ok, but passing undefined isn't"
In the example of a single child passed conditionally to the `Transition` component that you give in the README:

[code]
it is not immediately obvious that `Transition` will happily accept `false` as a child, but will actually break if the falsy value is `undefined` (or `null`, for that matter). The danger lies in this line of the `Transition` component:

https://github.com/souporserious/react-mot

[2017-08-07 22:55] aziz-boudi4 opened #81 "This Error appears at every animation : "You must provide a key for every child of Transition.""
[code]

[2017-08-11 17:00] evliu commented on #81
What does your component code look like?

[2017-08-11 17:39] aziz-boudi4 commented on #81
Here's one component, I other components as well
[code]

[2017-08-11 17:42] evliu commented on #81
none of those have a `key` property; you need to define a `key` for each component that transition wraps.

[2017-08-11 17:45] aziz-boudi4 commented on #81
I tried, but where should exactly add the key ?
- Should I add it to infosContainer ?
- or should I add it to the <Flex > that is wrapping { infosContainer } ?

[2017-08-11 17:48] evliu commented on #81
add it to `<Flex>`, the ones that are wrapped by `Transition`

[2017-08-11 18:00] aziz-boudi4 commented on #81
Nice, it worked thanks
I gave a unique key to each `<Flex> `
eg:
`<Flex key={1}>`
`<Flex key={2}>` ...etc

[2017-08-11 18:49] evliu commented on #81
👍 you can close this issue. The warning message basically notes that your child components (Flex for you) need keys.

[2017-08-11 21:57] #81 closed, assigned to nobody

[2017-08-12 03:06] aziz-boudi4 opened #82 "Dependencies out of date ?"
On the readme of react-motion-ui-pack, it says **dependencies out of date**
Should I worry or can I use it in production ?

![screen shot 2017-08-11 at 7 49 55 pm](https://user-images.githubusercontent.com/7435015/29237308-8793d98c-7ed0-11e7-9c23-86317dcf65db.png)

[2017-08-13 18:59] mb8z commented on #35
Same problem here. Any ideas?

[2017-10-03 11:01] callumlocke opened #83 "Please include default props in the readme"

[2017-10-03 11:09] callumlocke opened #84 "Undocumented "measure" prop"
The example includes `measure` but there's no documentation on what this does.

[2017-10-20 12:55] andreyvital opened #85 "React 16"
[code]

[2017-10-20 14:55] DonGiulio opened #86 "(0 , _reactMotion2.default) is not a function in the line that calls spring."
Hello,

I've installed react-motion and react-motion-ui-pack in my project, and I would like to get my LogoPage component to animate out when unmounted.

This is my LogoPage component:

[code]

it's mostly the boilerplate from the example, applied to my markup.

in the line 17: `translateY: spring(0, { stiffness: 400, damping: 10 })`
throws this error in the js console:

[code]

[2017-10-20 18:45] chrisdrackett opened #87 "ability to chain animations"
for example, having something translate off screen and then adjust its height to 0.

[2017-10-23 12:29] lynden commented on #86
Try using a named import for spring e.g. `import { spring } from "react-motion";`

[2017-11-20 13:18] sergiop opened #90 "Upgrade react-motion dependency to 0.5.x."
Hi @souporserious, is there a reason why `react-motion` dependency is still at version `0.4.2`?
I'm asking this because with version `0.5.0` they replaced React.PropTypes with external prop-types package, and until react-motion-ui-pack will use `0.4.2` dependency, we'll never fix the warning in our projects.

https://github.com/chenglou/react-motion/releases
https://github.com/souporserious/react-

[2017-11-20 15:09] sergiop commented on #90
Sorry, my mistake, with the current dependency I don't have warnings on `React.PropTypes`. The PR #77 is enough to remove the warning.

[2017-11-20 15:09] #90 closed, assigned to nobody

[2017-11-24 14:15] kosChupahin opened #91 "Using spring for 'leave' property produces an error"
Hi,
It works fine when I'm using a spring for the 'enter' property, but returns the following error if I use a spring for 'leave':
"`NaN` is an invalid value for the `opacity` css style property. Check the render method of `nameComponent`"

 Could you please help me to understand what's wrong here?

[code]

[2018-03-05 07:03] rockmandash opened #92 "Update react motion to 0.5^"

[2018-04-03 20:53] WillTheSun opened #93 "Leave prop doesn't accept spring"

[2018-04-12 22:47] richseviora commented on #85
Does React 16 break this package?

[2018-04-16 11:02] write2art commented on #91
+1 here, got the same issue.

[2018-06-20 05:01] coder9s commented on #91
+2 here, got the same issue.